<%= form_with(model: artist, local: true) do |form| %>
  <% if artist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(artist.errors.count, "error") %> prohibited this artist from being saved:</h2>

      <ul>
      <% artist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, class: 'control-label' %>
    <%= form.text_field :name, id: :artist_name, class: 'form-control', placeholder: 'Name' %>
  </div>

  <div class="form-group">
    <%= form.label :genre_id, class: 'control-label' %>
    <%# form.text_field :genre_id, id: :artist_genre_id, class: 'form-control', placeholder: 'Genre' %>
    <%= form.collection_select :genre_id, Genre.all, :id, :name, {:prompt => 'Select Genre'}, {class: 'form-control'} %>
  </div>

  <div class="form-group">
    <%= form.submit class: 'btn btn-success' %>
  </div>
<% end %>
